@use "../partials/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: $primary-color-1;
  color: $primary-color-2;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

.app {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main {
  width: 80%;
  position: relative;
  left: 20%;
}
