@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;

.post {
  width: 100%;
  padding: 2.4rem;
  margin: 2.4rem;
  background-color: rgba($color: #000, $alpha: 0.05);
}

.song__info {
  display: flex;
  justify-content: space-between;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.8rem;
  }
  &__name {
    font-weight: 600;
    font-size: 1.6rem;
  }
  &__comment {
    margin-bottom: 0.8rem;
    color: $primary-color-3;
    font-size: 1.6rem;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;

  &__button {
    margin: 1rem 1.6rem 0 1.6rem;
  }

  &__text {
    border: none;
    color: $primary-color-3;
    font-size: 1.3rem;
    font-weight: bold;
  }
}
